.login-main-div {
    display: flex;
}

.login-logo-image {
    margin: 0 27px;
}

.login-left-side-div {
    width: 50%;
}

.login-left-side-second-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-left-side-second-child-inner {
    width: 360px;
    height: 890px;
    margin-top: 70px;
}

.login-right-side-div {
    width: 50%;
    background-color: var(--primary-theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
}