.document-container {
  padding: 30px 48px 0 48px;
  width: auto;
  height: 100vh;
}

.image-container-image_inventory {
  display: flex;
}

.document-paper-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 16px;
}

.document-paper-container img {
  padding: 16px;
  background-color: var(--primary-theme-color);
  border-radius: 8px;
}

.document-container .document-paper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.document-container .document-paper:hover {
  cursor: pointer;
  transition: 2000 ease-in-out;
  box-shadow: 10px 10px 5px rgba(131, 129, 129, 0.2), 0 6px 20px 0 rgba(100, 70, 70, 0.19);
  ;
}

.document-paper-heading :first-child {
  font-weight: 400;
  color: #0F172A
}

.document-paper-heading:last-child {
  font-weight: 400;
  color: #64748B
}